<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>




 <link rel="stylesheet" type="text/css" href="CSS/WineQuiz.css"> 
</head>
<body>
<br><br>
<div ng-show="showQuiz">
	<h1 class="text-center">What type of chocolate do you like?</h1>
	
	<br><br>
	<div class="container">
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qOneAnswer(1)">Dark Chocolate</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qOneAnswer(2)">Milk Chocolate</div>
		</div>
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qOneAnswer(3)">White Chocolate</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qOneAnswer(4)">Coffee Chocolate</div>
		</div>
	</div>
		<br><br>
		
		<h1 class="text-center">What is your favorite season?</h1>
	
	<br><br>
	<div class="container">
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(1)">Spring</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(2)">Summer</div>
		</div>
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(3)">Fall</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(4)">Winter</div>
		</div>
	</div>
	<br><br>
		<h1 class="text-center">What would you like to have for dinner?</h1>
	
	<br><br>
	<div class="container">
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(1)">Steak</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(2)">Seafood</div>
		</div>
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(3)">Salad</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(4)">Pizza</div>
		</div>
	</div>
	
	<br><br>
		<h1 class="text-center">How do you like your coffee?</h1>
	
	<br><br>
	<div class="container">
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(1)">Black</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(2)">With Milk</div>
		</div>
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(3)">With sugar</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(4)">I prefer tea</div>
		</div>
	</div>
	<br><br>
	
		<h1 class="text-center">What is your favorite cheese?</h1>
	
	<br><br>
	<div class="container">
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(1)">Cheddar</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(2)">Brie</div>
		</div>
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(3)">Goat cheese</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(4)">Mozzarella</div>
		</div>
	</div>
	<br><br>
	
		<h1 class="text-center">What type of chocolate do you like?</h1>
	
	<br><br>
	<div class="container">
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(1)">Dark Chocolate</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(2)">Milk Chocolate</div>
		</div>
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(3)">White Chocolate</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(4)">Coffee Chocolate</div>
		</div>
	</div>
	<br><br>
	
		<h1 class="text-center">What type of chocolate do you like?</h1>
	
	<br><br>
	<div class="container">
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(1)">Dark Chocolate</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(2)">Milk Chocolate</div>
		</div>
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(3)">White Chocolate</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(4)">Coffee Chocolate</div>
		</div>
	</div>
	<br><br>
	
		<h1 class="text-center">What type of chocolate do you like?</h1>
	
	<br><br>
	<div class="container">
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(1)">Dark Chocolate</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(2)">Milk Chocolate</div>
		</div>
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(3)">White Chocolate</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(4)">Coffee Chocolate</div>
		</div>
	</div>
	

	

	
</div>
		<br><br>
	<div class="text-center" >
	 	<button type="button" class="btn btn-success btn-lg glyphicon glyphicon-ok " ng-click="getWinesByAnswer(answer)" >Submit</button> 
	 	<button type="button" class="btn btn-warning btn-lg glyphicon glyphicon-refresh" ng-click="returnToWineQuiz()">Refresh</button>
	 </div>
	<div ng-show="showResults">
		<h1 class="text-center" ng-repeat="wine in wines"> Your Result is: {{wine.name}}</h1>
		<h2 class="text-center" ng-repeat="wine in wines">{{wine.summary}}</h2>
	
	</div>

</body>
</html>