<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>




 <link rel="stylesheet" type="text/css" href="CSS/WineQuiz.css"> 
</head>
<body>
<br><br>
<div>
	<h1 class="text-center">What type of chocolate do you like?</h1>
	
	<br><br>
	<div class="container">
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qOneAnswer(1)">Dark Chocolate</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qOneAnswer(2)">Milk Chocolate</div>
		</div>
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qOneAnswer(3)">White Chocolate</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qOneAnswer(4)">Coffee Chocolate</div>
		</div>
	</div>
		<br><br>
		
		<h1 class="text-center">What type of chocolate do you like?</h1>
	
	<br><br>
	<div class="container">
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(1)">Dark Chocolate</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(2)">Milk Chocolate</div>
		</div>
		<div class="row">
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(3)">White Chocolate</div>
			<div class="col-md-6 btn btn-default btn-lg" ng-click="qTwoAnswer(4)">Coffee Chocolate</div>
		</div>
	</div>
		<br><br>
	<div class="text-center">
	 	<button type="button" class="btn btn-success btn-lg glyphicon glyphicon-ok " ng-click="getWinesByAnswer(answer)">Submit</button> 
	 </div>
	<div>
		<h1 class="text-center" ng-repeat="wine in wines"> Your Result is: {{wine.name}}</h1>
		<h2 class="text-center" ng-repeat="wine in wines">{{wine.summary}}</h2>
	
	</div>
</div>
</body>
</html>