<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>




 <link rel="stylesheet" type="text/css" href="CSS/WineQuiz.css"> 
</head>
<body>
<br><br>
	<h1 class="text-center">QUESTION #1 </h1>
	<div class ="wrapper ">
		<div class="box1 btn" ng-click="qOneAnswer('1')" >One</div>
		<div class="box2 btn" ng-click="qOneAnswer('2')">Two</div>
		<div class="box3 btn">Three</div>
		<div class="box4 btn">Four</div>
		<div class="box5 btn">Five</div>
		<div class="box6 btn">Six</div>
	
	
	
	
	</div>
</body>
</html>